<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Rayyan on the web</title>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div>
      <nav role="navigation">
        <ul class="navbar">
          <li>
            <a href="/" class="text-decoration-none">
              <div class="px-1">/</div>
            </a>
          </li>
          <li>
            <a href="/writings" class="text-decoration-none">
              Writings
            </a>
          </li>
          <li>
            <select onchange="changeTheme(this.value)">
              <option value="light">Light</option>
              <option value="dark">Dark</option>
              <option value="sepia">Sepia</option>
            </select>
          </li>
        </ul>
      </nav>
    </div>
    <%= @inner_content %>
    <footer>
      <a href="#top">top</a>
    </footer>
  </body>
</html>
